[Desktop Entry]
Comment=Blur-Glassy Look And Feel
Name=Blur-Glassy
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=l4k1987@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Blur-Glassy
X-KDE-PluginInfo-Version=10.0
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1306011,kns://plasma-themes.knsrc/api.kde-look.org/1267335,kns://aurorae.knsrc/api.kde-look.org/1310074,kns://icons.knsrc/api.kde-look.org/1361471,kns://icons.knsrc/api.kde-look.org/1338127,kns://icons.knsrc/api.kde-look.org/1364702,kns://icons.knsrc/api.kde-look.org/1298508,kns://wallpaper.knsrc/api.kde-look.org/1364687,kns://wallpaper.knsrc/api.kde-look.org/1364689,kns://wallpaper.knsrc/api.kde-look.org/1415876,kns://wallpaper.knsrc/api.kde-look.org/1342256,kns://sddmtheme.knsrc/api.kde-look.org/1364699
